Create share_cost named htmlclass's process as required
share_cost class contains the cost of one share detail
@event.getPerShareCost function - returns PerShare cost for the event
@Advertisements.get(index).getAdvertisementId()
@Advertisements.get(index).getEventId()
 @Advertisements.get(index).getNumSeats()
@Advertisements.get(index).getEventName
@Advertisements.get(index).getNumSeats
@Advertisements.get(index).getNumShares
@Advertisements.get(index).getNumShares()
@Events.get(index).getPerShareCost
@allEvents.get(index).getPerShareCost





















































